{% extends 'base.html' %}

{% block content %}

    <h1>Contact page</h1>
    <p>This is a paragraph</p>

    <p> {{ my_text }}, {{ my_number }}  </p>

    <ul>
        {% for item in my_list  %}
            {% if item == 4  %}
                <li> {{ forloop.counter }} -- {{ item|add:8 }} </li>
            {% elif item == 'Hi' %}
                <li>This is not the network</li>
            {% else %}
                <li> {{ forloop.counter  }} - {{ item }} </li>
            {% endif %}
        {% endfor %}

        
    </ul>

    <ul>


    </ul>

{% endblock content %}

